@import "../../../shared/shared.scss";

.companies-grid {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    .companies-box {
        display: flex;
        flex-direction: column;

        h4 {
            color: $dark-grey-color-7;
            font-size: 20px;
            margin-bottom: 32px;
            display: inline;
            text-align: center;
        }

        .companies-logos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            img {
                margin-bottom: 24px;
            }
        }
    }
}