<footer class="flex flex-column px-3 py-4">
  <div
    class="flex justify-content-between align-items-center bordered py-4 flex-column md:flex-row"
  >
    <img
      class="logo mb-2 md:hidden block"
      src="https://hrappstorage.blob.core.windows.net/eq-landing-page/eq-logo.svg"
      alt="equatalent logo"
    />

    <div class="flex justify-content-between align-items-center">
      <div class="flex align-items-center mb-2">
        <a href="" class="mr-5px">
          <img src="assets/img/shared/linkedin.svg" alt="linkedin" />
        </a>
        <a href=""
          ><img src="assets/img/shared/facebook.svg" alt="facebook"
        /></a>
      </div>
    </div>

    <img
      class="logo mb-2 hidden md:block"
      src="https://hrappstorage.blob.core.windows.net/eq-landing-page/eq-logo.svg"
      alt="equatalent logo"
    />

    <a class="a-link mb-2" href="">{{ email }}</a>
  </div>

  <div
    class="flex justify-content-between align-items-center py-4 flex-column md:flex-row"
  >
    <div class="flex color-grey mb-2">© 2024 EquaTalent.</div>

    <div
      class="flex color-grey col-auto md:col-4 mb-2 text-center md:text-start"
    >
      EquaTalent, Inc. Offices in Dubai, Paris, San Francisco
    </div>

    <div class="flex mb-2 flex-wrap-wrap">
      <a href="" class="color-grey mr-3">Privacy Policy</a>
      <a href="" class="color-grey">Terms and Conditions</a>
    </div>
  </div>
</footer>
