$delay: .8s;

.preloader {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 50;
    opacity: 1;
    transition: $delay;

    .logo-box {
        padding: 18px 22px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2);
    }

    &.loadet {
        animation: hide $delay 1 forwards;

        .logo-box {
            animation: loadet $delay 1 forwards;
        }
    }
}

@keyframes loadet {
    100% {
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%) scale(1);
    }
}

@keyframes hide {
    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.loader {
    display: block;
    --height-of-loader: 2px;
    --loader-color: #0071e2;
    width: 100%;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background: var(--loader-color);
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        border-radius: 30px;
        animation: moving 1s ease-in-out infinite;
    }

    &.loadet{
        display: none;
    }
}



@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}