@import "../../../shared/shared.scss";


.left-side {
    max-width: 620px;
    position: relative;
    z-index: 2;

    h2 {
        color: $black-color;

        .nobr {
            span {
                color: $orange-color;
            }
        }
    }

    p{
        color: $grey-color;
        font-size: 20px;
    }
}

.right-side {
    height: -webkit-fill-available;

    .mockup-bg {
        width: 50%;
        height: 90%;
        right: 0;

        background-image: url("../../../../../src/assets/img/home/first-screen-with-items.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        &.sm-device {
            width: auto;
            height: 200px;
            width: -webkit-fill-available;
            background-image: url("../../../../../src/assets/img/home/device.png");
        }
    }
}