<div class="grid w-full p-col-12 md:h-30rem h-[40%]">
  <div class="left-side col-12 md:col-10">
    <h2 class="md:text-5xl sm:text-4xl text-2xl">
      <span class="nobr">Transform Talent Acquisition</span><br />
      <span class="nobr">with <span>Fully Autonomous</span></span
      ><br />
      <span class="nobr">Candidate Interviews</span><br />
    </h2>

    <p class="md:text-lg sm:text-md text-sm">
      Interview Candidates Around the Clock, Even <br />
      When You Sleep. Unbiased. In Real-Time.
    </p>
  </div>
  <div
    class="right-side md:col-2 col-12 flex md:justify-content-center justify-content-end"
  >
    <div class="mockup-bg absolute hidden md:block"></div>
    <div class="mockup-bg sm-device md:hidden block relative"></div>
  </div>
</div>
