.grid {
  background-image: url("../../../src/assets/img/home/first-bg-pattern.svg");
  background-position: center;
  background-repeat: repeat;

  padding-top: 60px;
  transform: translateY(-60px);
}
