<div>
  <div class="ui-grid grid mb-4">
    <app-first-screen class="w-full"></app-first-screen>
  </div>

  <div class="ui-grid mb-4">
    <app-companys class="w-full"></app-companys>
  </div>

  <app-advantages></app-advantages>

  <div class="ui-grid mb-4">
    <app-how-it-works class="w-full"></app-how-it-works>
  </div>

  <app-key-benefits></app-key-benefits>

  <app-key-benefits-for-candidates class="w-full" />

  <app-reviews-carousel></app-reviews-carousel>

  <div class="ui-grid mb-4">
    <app-brands-quotes class="w-full"></app-brands-quotes>
  </div>

  <div class="ui-grid mb-4">
    <app-book-a-demo ></app-book-a-demo>
  </div>
</div>
